# ignore .git, .cache, and venv and pygrls folders
.git
.cache
venv
pygrls

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md

# ignore config file
config.py

#ignore Dockerfile
Dockerfile
