{% extends "base_generic.html" %}

{% block content %}
<h1>Search for Course or Oganization</h1>
<!-- SEARCH DIV -->
<div name="courseSearchForm" id="courseSearchForm">
  <p>
  Enter Text in the textfield to search. (All searches are equal to)
  </p>
  <form id="searchCourse" action="/courses">
    {% csrf_token %}
    <select name="searchBy" id="searchBy">
      <option value="externalId">External Id</option>
      <option value="primaryId">Primary Id</option>
      <option value="courseId">Course/Organization Id</option>
      <!-- <option value="DSK">Data Source Key</option> -->
    </select>
    &nbsp;
    <input type="text" id="searchValue" name="searchValue"></br>
      <div style="text-align:right; width:100%; padding:0;">
        <input id="submitCourseSearch" type="submit" value="Search"/>
      </div>
    <input type="hidden" id="task" name="task" value="search">
  </form>
</div>
<!-- END SEARCH DIV -->

<!-- ERROR DIV -->
<div id="error" style="display:none">
  <hr>
  <h3>Error</h3>
  {{ error_json }}
</div>
<!-- END ERROR DIV -->


<!-- PROCESS REQUEST (UPDATE) BLOCK -->
<div id="processBlock" style="display:none">
  <form id=processSelections action="/courses">
    {% csrf_token %}
    <input type="hidden" id="task" name="task" value="process">
    <input type="hidden" id="searchBy" name="searchBy" value={{ course_json.searchBy }}>
    <input type="hidden" id="searchValue" name="searchValue" value={{ course_json.searchValue }}>
    <div id="searchResult" style="display:none">
      <hr>
      <h3>Records Available to Update</h3>    
      <p>Selecting a row readys it for processing.</p>
      {% if course_json %}
      <table>
        <thead>
          <tr>
            <th style="padding:10px" valign="top"></th>
            <th style="padding:10px" valign="top">Available</th>
            <th style="padding:10px" valign="top">Service Level</th>
            <th style="padding:10px" valign="top">External Id</th>
            <th style="padding:10px" valign="top">Course Id</th>
            <th style="padding:10px" valign="top">Course Name</th>
            <th style="padding:10px" valign="top">Data Source</th>
            <th style="padding:10px" valign="top">Date Created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td styl="padding:10px;text-align:center"><input type="checkbox" name=processMembership checked value="{{ member_json.id }}" disabled></td>
            <td style="padding:10px">{{course_json.availability.available}}</td>
            <td style="padding:10px">
              {% if course_json %} 
                {% if course_json.organization == 'true' %} 
                  Organization 
                {% else %} 
                  Course 
                {% endif %}
              {% endif %} 
            </td>
            <td style="padding:10px">{{course_json.externalId}}</td>
            <td style="padding:10px">{{course_json.courseId}}</td>
            <td style="padding:10px">{{course_json.name}}</td>
            <td style="padding:10px">{{course_json.dataSourceId}}</td>
            <td style="padding:10px">{{course_json.created}}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
      <h6>details json:</h6>
      {{ course_json }}
      <hr>
    </div>
    <div id="multipleResults" style="display:none">
      {% if memberSelectedData %}
      <h3>Search Results</h3>
      <!-- 
        Add table of results with next page button
        on checkbox clicked add/remove from list of
        Available Records = DIV id=searchResult
        on process sumit check for visibility and count 
        and process selected results.
      -->
      <hr>
      {% endif %}
    </div>
    <div id="searchUpdate" style="display:none">
      <h3>Update Selected Records</h3>
      <p>
        First check 'Update the above selected records', then check Availability and/or Data Source Key and select a value to update the Availability and/or Data Source Key respectively.
      </p>  
      <div class="field">
        <table>
          <thead>
            <tr style="padding:10px">
              <th></th> <input id="isUpdateRequired1" name="isUpdateRequired1" type="checkbox" value="true" onclick="setIsProcessable();"/>
                <label for="isUpdateRequired1">&nbsp;<b>&lt; Update the above selected records.</b></label> 
              </th>
              <th style="padding:10px">
                <input id="isAvailabilityUpdateRequired1" name="isAvailabilityUpdateRequired1" type="checkbox" value="true" onclick="setIsProcessable();"/>
                Availability
              </th>
              <th style="padding:10px">
                <input id="isDataSourceKeyUpdateRequired1" name="isDataSourceKeyUpdateRequired1" type="checkbox" value="true" onclick="setIsProcessable();"/>
                Data Source Key
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding:10px"> </td>
              <td style="padding:10px">
                <select id="selectedAvailability" name="selectedAvailability">
                  <option value="Yes">Available</option>
                  <option value="No">Unavailable</option>
                  <option value="Disabled">Disabled</option>
                </select>
              </td>
              <td style="padding:10px">
                <select id="selectedDataSourceKey" name="selectedDataSourceKey">
                  <!-- <option>Choose a DSK or use field to right.</option> -->
                  {% if dsks_json %}
                    {% for dsk in dsks_json %}
                      <option value={{ dsk.id }}>{{ dsk.externalId }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </br>

      <!--   
      ToDo: add logging then a change comments area maaakes sense
      <h3>Change Comments</h3>
      <div id="comments" name="comments">
      <p>
      Please comment the change in plain text. Comments entered here will be stored in a database table.</p>
      <p>
      <textarea id="commentsTxt" name="commentsTxt" rows="4" cols="50">

      </textarea></p> 
      -->

      <div style="text-align:right; width:100%; padding:0;">
        <input id="processSubmit" name="processSubmit" type="submit" value="Update" disabled/>
        </br>
        </br>
      </div>
    </div>
  </form>
</div>
<!-- END UPDATE DIV -->

<!-- RESULTS DIV -->
<div id="results" style="display:none">
  <h3>Results:</h3>
  {% if result_json %}
      <table>
        <thead>
          <tr>
            <th style="padding:10px" valign="top">Available</th>
            <th style="padding:10px" valign="top">Service Level</th>
            <th style="padding:10px" valign="top">External Id</th>
            <th style="padding:10px" valign="top">Course Id</th>
            <th style="padding:10px" valign="top">Course Name</th>
            <th style="padding:10px" valign="top">Data Source</th>
            <th style="padding:10px" valign="top">Date Created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding:10px">{{result_json.availability.available}}</td>
            <td style="padding:10px">
              {% if result_json %} 
                {% if result_json.organization == 'true' %} 
                  Organization 
                {% else %} 
                  Course 
                {% endif %}
              {% endif %} 
            </td>
            <td style="padding:10px">{{result_json.externalId}}</td>
            <td style="padding:10px">{{result_json.courseId}}</td>
            <td style="padding:10px">{{result_json.name}}</td>
            <td style="padding:10px">{{result_json.dataSourceId}}</td>
            <td style="padding:10px">{{result_json.created}}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
  <h6>details json:</h6>
  {{ result_json }}
</div>
<!-- END RESULTS DIV -->

<script>
  function setIsProcessable() {
    if ((document.getElementById('isUpdateRequired1').checked == true) &&
        (document.getElementById('isAvailabilityUpdateRequired1').checked == true || 
         document.getElementById('isDataSourceKeyUpdateRequired1').checked == true)) {
      document.getElementById('processSubmit').disabled=false;
    } else {
      document.getElementById('processSubmit').disabled=true;
    }
  }
  
  function showElement(showme) {
    document.getElementById(showme).style.display = "inline";
  }
  function hideElement(hideme) {
    document.getElementById(hideme).style.display = "none";
  }
  
  {% if error_json %}
    showElement('error')
  {% endif %}
  
  {% if result_json %}
    showElement('results')
  {% endif %}
  
  {% if course_json %}
    showElement('processBlock')
    showElement('searchResult')
    showElement('searchUpdate')  
  {% endif %}
  
  </script>
  
  {% endblock %}