{% extends "base_generic.html" %}

{% block content %}
  <h1>Oops! 3LO says you are logged in as a Guest.</h1>
  <hr>
  <p>The OSCELOT DSKTOOL may be use only by users with Learn System Administrator privileges.</p>
  <p>This can happen when you are using Direct Portal Entry as your login option. 
    Usually, clicking the Learn Logout link to the left, logging into Learn, and reloading this page
  will resolve the issue. If not you might try clearing your browser cache/cookies. </p>


{% endblock %}