{% extends "base_generic.html" %}

{% block content %}
  <h1>OSCELOT DSK Tool Home</h1>
  <p>Welcome to the OSCELOT DSK Tool, a REST-based version of the original York DSK Tool</p>
  <Thead></Thead>The OSCELOT DSK Tool is a secure cloud-based data source and availability managment tool that utilizes 3-legged authentication.
  <p></p>
  <h2>Version Information</h2>
  Documentation is available via the project site located at:<p><a href='https://github.com/moneil/OSCELOT-DSKTOOL-for-HEROKU'>https://github.com/moneil/OSCELOT-DSKTOOL-for-HEROKU</a></p>

  <h2> Release Notes</h2>
  <h3> v1.0.8 (09/25/2020)</h3>
  This release focuses on improving the user experience for searching and updating Enrollments:
  <ul>
    <li>Enrollments: Added Course/Org and User membership searches and updating to Enrollments
    <li>Enrollments: Course/Org and User membership searches support externalId and courseId/Username
    <li>Enrollments: Improved UI using AJAX
    <li>Enrollments: Added alerts for entry validation and errors
    <li>Enrollments: Substantial logging to Javascript console for debugging
    <li>Added Docker deployment support (docker-compose.yml) see docker/README.md for details.
  </ul>
  
  <h3>ToDo:</h3>
    <ul>
      <li>Change User and Course searches to AJAX with improved UI and error checking
      <li>Continue support for single project for multiple deployment models (Heroku, Desktop, or Docker). Current code fully supports Heroku and local use. Use the above deploy button or follow the instructions in the local folder. Docker coming soon.
      <li>add logging support</li>
      <li>analyze ditching Django for Flask</li>
      <li>add date timeboxing</li>
    </ul>

  <hr>
  <h4>Your System Information:</h4>
  <ul>
    <li><strong>Learn Server:</strong> {{ learn_server }}</li>
    <li><strong>Version JSON:</strong> {{ version_json }}</li>
    <li><strong>Access Token:</strong> {{ access_token }}</li>
  </ul>
{% endblock %}