{% extends "base_generic.html" %}

{% block content %}
  <h1>OSCELOT DSK Tool Home</h1>
  <p>Welcome to the OSCELOT DSK Tool, a REST-based version of the original York DSK Tool</p>
  <Thead></Thead>The OSCELOT DSK Tool is a secure cloud-based data source and availability managment tool that utilizes 3-legged authentication.
  <p></p>
  <h2>Version Information</h2>
  Documentation is available via the project site located at:<p><a href='https://github.com/moneil/OSCELOT-DSKTOOL-for-HEROKU'>https://github.com/moneil/OSCELOT-DSKTOOL-for-HEROKU</a></p>

  <hr>
  <h4>Your System Information:</h4>
  <ul>
    <li><strong>Learn Server:</strong> {{ learn_server }}</li>
    <li><strong>Version JSON:</strong> {{ version_json }}</li>
    <li><strong>Access Token:</strong> {{ access_token }}</li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
  <hr> 
  <div style="text-align: center;">
    <br>
OSCELOT DSKTOOL v1.0.11 - released: 10/04/2020 under MIT License
  </div> 
{% endblock %}