{% extends "base_generic.html" %}

{% block content %}
<h1>Search for a User</h1>
<!-- SEARCH DIVS -->
<div name="userSearchForm" id="userSearchForm">
  <p>
  Enter Text in the textfield to search. All searches are "equal to".
  </p>
  <form id="searchUser" action="/threeleg/users">
    {% csrf_token %}
    <input type="hidden" id="task" name="task" value="search">
    <select name="searchBy" id="searchBy">
      <option value="externalId">External Id</option>
      <option value="userName">Username</option>
      <!-- <option value="givenName">Given Name</option> -->
      <!-- <option valxue="familyName">Family Name</option> -->
      <!-- <option value="DSK">Data Source  </option> -->
    </select>
    &nbsp;
    <input type="text" id="searchValue" name="searchValue"></br>
    <div style="text-align:right; width:100%; padding:0;">
      <input type="submit" value="Search"/>
    </div>
  </form>
</div>
<!-- END SEARCH DIVS -->

<!-- ERROR DIV -->
<div id="error" style="display:none">
  <hr>
  <h3>Error</h3>
  {{ error_json }}
</div>
<!-- END ERROR DIV -->

<!-- PROCESS REQUEST (UPDATE) BLOCK -->
<div id="processBlock" style="display:none">
  <form id=processSelections action="/threeleg/users">
    <input type="hidden" id="task" name="task" value="process">
    <input type="hidden" id="searchBy" name="searchBy" value={{ user_json.searchBy }}>
    <input type="hidden" id="searchValueUsr" name="searchValueUsr" value={{ user_json.searchValueUsr }}>
    {% csrf_token %}
    <div id="searchResult" style="display:none">
      <hr>
      <h3>Records Available to Update</h3>    
      <p>Selecting a row readys it for processing.</p>
      {% if user_json %}
      <table>
        <thead>
          <tr>
            <th style="padding:10px" valign="top"></th>
            <th style="padding:10px" valign="top">Available</th>
            <th style="padding:10px" valign="top">External Id</th>
            <th style="padding:10px" valign="top">Username</th>
            <th style="padding:10px" valign="top">First Name</th>
            <th style="padding:10px" valign="top">Middle Name</th>
            <th style="padding:10px" valign="top">Last Name</th>
            <th style="padding:10px" valign="top">Email</th>
            <th style="padding:10px" valign="top">Data Source</th>
            <th style="padding:10px" valign="top">Date Created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td styl="padding:10px;text-align:center"><input type="checkbox" name=processMembership checked value="{{ user_json.id }}" disabled></td>
            <td style="padding:10px">{{user_json.availability.available}}</td>
            <td style="padding:10px">{{user_json.externalId}}</td>
            <td style="padding:10px">{{user_json.userName}}</td>
            <td style="padding:10px">{{user_json.name.given}}</td>
            <td style="padding:10px">{{user_json.name.middle}}</td>
            <td style="padding:10px">{{user_json.name.family}}</td>
            <td style="padding:10px">{{user_json.contact.email}}</td>
            <td style="padding:10px">{{user_json.dataSourceId}}</td>
            <td style="padding:10px">{{user_json.created}}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
      <h6>details json:</h6>
      {{ user_json }}
      <hr>
    </div>
    <div id="multipleResults" style="display:none">
      {% if memberSelectedData %}
      <h3>Search Results</h3>
      <!-- 
        Add table of results with next page button
        on checkbox clicked add/remove from list of
        Available Records = DIV id=searchResult
        on process sumit check for visibility and count 
        and process selected results.
      -->
      <hr>
      {% endif %}
    </div>
    <div id="searchUpdate" style="display:none">
      <h3>Update Selected Records</h3>
      <p>
        First check 'Update the above selected records', then check Availability and/or Data Source Key and select a value to update the Availability and/or Data Source Key respectively.
      </p>  
      <div class="field">
        <table>
          <thead>
            <tr style="padding:10px">
              <th></th> <input id="isUpdateRequired1" name="isUpdateRequired1" type="checkbox" value="true" onclick="setIsProcessable();"/>
                <label for="isUpdateRequired1">&nbsp;<b>&lt; Update the above selected records.</b></label> 
              </th>
              <th style="padding:10px">
                <input id="isAvailabilityUpdateRequired1" name="isAvailabilityUpdateRequired1" type="checkbox" value="true" onclick="setIsProcessable();"/>
                Availability
              </th>
              <th style="padding:10px">
                <input id="isDataSourceKeyUpdateRequired1" name="isDataSourceKeyUpdateRequired1" type="checkbox" value="true" onclick="setIsProcessable();"/>
                Data Source Key
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding:10px"> </td>
              <td style="padding:10px">
                <select id="selectedAvailability" name="selectedAvailability">
                  <option value="Yes">Available</option>
                  <option value="No">Unavailable</option>
                  <option value="Disabled">Disabled</option>
                </select>
              </td>
              <td style="padding:10px">
                <select id="selectedDataSourceKey" name="selectedDataSourceKey">
                  <!-- <option>Choose a DSK or use field to right.</option> -->
                  {% if dsks_json %}
                    {% for dsk in dsks_json %}
                      <option value={{ dsk.id }}>{{ dsk.externalId }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </br>

      <!--   
      ToDo: add logging then a change comments area maaakes sense
      <h3>Change Comments</h3>
      <div id="comments" name="comments">
      <p>
      Please comment the change in plain text. Comments entered here will be stored in a database table.</p>
      <p>
      <textarea id="commentsTxt" name="commentsTxt" rows="4" cols="50">

      </textarea></p> 
      -->

      <div style="text-align:right; width:100%; padding:0;">
        <input id="processSubmit" name="processSubmit" type="submit" value="Update" disabled/>
        </br>
        </br>
      </div>
    </div>
  </form>
</div>
<!-- END UPDATE DIV -->

<!-- RESULTS DIV -->
<div id="results" style="display:none">
  <h3>Results:</h3>
  <table>
    <thead>
      <tr>
        <th style="padding:10px" valign="top">Available</th>
        <th style="padding:10px" valign="top">External Id</th>
        <th style="padding:10px" valign="top">Username</th>
        <th style="padding:10px" valign="top">First Name</th>
        <th style="padding:10px" valign="top">Middle Name</th>
        <th style="padding:10px" valign="top">Last Name</th>
        <th style="padding:10px" valign="top">Email</th>
        <th style="padding:10px" valign="top">Data Source</th>
        <th style="padding:10px" valign="top">Date Created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding:10px">{{result_json.availability.available}}</td>
        <td style="padding:10px">{{result_json.externalId}}</td>
        <td style="padding:10px">{{result_json.userName}}</td>
        <td style="padding:10px">{{result_json.name.given}}</td>
        <td style="padding:10px">{{result_json.name.middle}}</td>
        <td style="padding:10px">{{result_json.name.family}}</td>
        <td style="padding:10px">{{result_json.contact.email}}</td>
        <td style="padding:10px">{{result_json.dataSourceId}}</td>
        <td style="padding:10px">{{result_json.created}}</td>
      </tr>
    </tbody>
  </table>
  <h6>details json:</h6>
  {{ result_json }}
</div>
<!-- END RESULTS DIV -->

<script>
function setIsProcessable() {
  if ((document.getElementById('isUpdateRequired1').checked == true) &&
      (document.getElementById('isAvailabilityUpdateRequired1').checked == true || 
       document.getElementById('isDataSourceKeyUpdateRequired1').checked == true)) {
    document.getElementById('processSubmit').disabled=false;
  } else {
    document.getElementById('processSubmit').disabled=true;
  }
}

function showElement(showme) {
  document.getElementById(showme).style.display = "inline";
}
function hideElement(hideme) {
  document.getElementById(hideme).style.display = "none";
}

{% if error_json %}
  showElement('error')
{% endif %}

{% if result_json %}
  showElement('results')
{% endif %}

{% if user_json %}
  showElement('processBlock')
  showElement('searchResult')
  showElement('searchUpdate')  
{% endif %}

</script>

{% endblock %}