{% extends "base_generic.html" %}

{% block content %}
<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>

<h1>Search for a User</h1>
<!-- SEARCH DIVS -->
<div name="userSearchForm" id="userSearchForm">
  <p>
    Enter Text in the textfield to search. All searches are 'equal to' and case sensitive.
  </p>
  <form id="searchUserForm">
    {% csrf_token %}
    <select name="searchBy" id="searchBy">
      <option value="externalId">External Id</option>
      <option value="userName">Username</option>
      <!-- <option value="givenName">Given Name</option> -->
      <!-- <option valxue="familyName">Family Name</option> -->
      <!-- <option value="DSK">Data Source  </option> -->
    </select>
    &nbsp;
    <input type="text" id="searchValueUsrtoSearch" name="searchValueUsrtoSearch"></br>
    <div style="text-align:right; width:100%; padding:0;">
      <input id="submitSearchUserForm" type="submit" value="New Search"/>
    </div>
  </form>
</div>
<!-- END SEARCH DIVS -->

<!-- ERROR DIV -->
<div id="error" style="display:none">
  <hr>
  <h3>Error</h3>
  {{ error_json }}
</div>
<!-- END ERROR DIV -->

<!-- PROCESS REQUEST (UPDATE) BLOCK -->
<div id="processBlock" style="display:none">
    {% csrf_token %}
    <hr>
    <h3>Search Results</h3>    
    <p>Select a row for processing.</p>
    <form id="processUserForm" name="processUserForm">
      <div class="divTable ajaxTable" id="resultsTableHeader">
        <div class="divTableHeading">
          <div class="divTableHead"></div>
          <div class="divTableHead">Available</div>
          <div class="divTableHead">External Id</div>
          <div class="divTableHead">Username</div>
          <div class="divTableHead">First Name</div>
          <div class="divTableHead">Middle Name</div>
          <div class="divTableHead">Last Name</div>
          <div class="divTableHead">Email</div>
          <div class="divTableHead">Data Source</div>
          <div class="divTableHead">Date Modified</div>
        </div>
        <div class="divTableBody" id="resultsTableBody">
          <div class="divTableRow">
            
          </div>
        </div>
      </div>
      <!-- <p></p><p></p><p></p>
      <h6>details json:</h6>
      <div id="searchDetailsJSON">

      </div> -->
      <hr>
      </div>
      <div id="searchUpdate" style="display:none">
      <h3>Update Selected Records</h3>
      <p>
        First check 'Update the above selected records', then check Availability and/or Data Source Key and select a value to update the Availability and/or Data Source Key respectively.
      </p>  
        {% csrf_token %}
        <div class="field">
          <table>
            <thead>
              <tr style="padding:10px">
                <th></th> <input id="isUpdateRequired1" name="isUpdateRequired1" type="checkbox" value="true" onclick="setIsProcessable();"/>
                <label for="isUpdateRequired1">&nbsp;<b>&lt; Update the above selected records.</b></label> 
                </th>
                <th style="padding:10px">
                  <input id="isAvailabilityUpdateRequired1" name="isAvailabilityUpdateRequired1" type="checkbox" value="true" onclick="setIsProcessable();"/>
                  Availability
                </th>
                <th style="padding:10px">
                  <input id="isDataSourceKeyUpdateRequired1" name="isDataSourceKeyUpdateRequired1" type="checkbox" value="true" onclick="setIsProcessable();"/>
                  Data Source Key
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding:10px"> </td>
                <td style="padding:10px">
                  <select id="selectedAvailability" name="selectedAvailability">
                    <option value="Yes">Available</option>
                    <option value="No">Unavailable</option>
                    <option value="Disabled">Disabled</option>
                  </select>
                </td>
                <td style="padding:10px">
                  <select id="selectedDataSourceKey" name="selectedDataSourceKey">
                  <!-- <option>Choose a DSK or use field to right.</option> -->
                
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </br>

        <div style="text-align:right; width:100%; padding:0;">
          <input id="processSubmit" name="processSubmit" type="submit" value="Update" disabled/>
          </br>
          </br>
        </div>
    </form>
</div>
<!-- END UPDATE DIV -->

<!-- RESULTS DIV -->
<div id="updateResults" style="display:none">
  <h3>Results:</h3>
  <div class="divTable ajaxTable">
    <div class="divTableHeading">
      <div class="divTableHead">Available</div>
        <div class="divTableHead">External Id</div>
        <div class="divTableHead">Username</div>
        <div class="divTableHead">First Name</div>
        <div class="divTableHead">Middle Name</div>
        <div class="divTableHead">Last Name</div>
        <div class="divTableHead">Email</div>
        <div class="divTableHead">Data Source</div>
        <div class="divTableHead">Date Modified</div>
      </div>
    <div class="divTableBody" id="updateResultsTableBody">
      
    </div>
  </div>
  
  <!-- <p></p><p></p><p></p>
  <h6>details json:</h6>
  <div id="updateDetailsJSON">
        
  </div> -->
</div>
<!-- END RESULTS DIV -->
<br>
<br>
<br>
<br>
<br>

{% block javascript %}
<script>
function setIsProcessable() {
  if ((document.getElementById('isUpdateRequired1').checked == true) &&
      (document.getElementById('isAvailabilityUpdateRequired1').checked == true || 
       document.getElementById('isDataSourceKeyUpdateRequired1').checked == true)) {
    document.getElementById('processSubmit').disabled=false;
  } else {
    document.getElementById('processSubmit').disabled=true;
  }
}

function showElement(showme) {
  document.getElementById(showme).style.display = "inline";
}
function hideElement(hideme) {
  document.getElementById(hideme).style.display = "none";
}


/* AJAX!! */
// [DONE] Process Spinner
$(document).ajaxSend(function() {
		  $("#overlay").fadeIn(300);　
    });

// user Id validation request
// [DONE] Validate User Value: search:searchValueUsrtoSearch
$("#searchValueUsrtoSearch").change(function(){
  console.log("searchValueUsrtoSearch: Validate change");
  // console.log("User: " + document.getElementById("searchUserForm").searchValueUsrtoSearch.value);
  // console.log("By: " + document.getElementById("searchUserForm").searchBy.value);

  // Validate User Id: call function that validates user ids based on serialized form data

  $("#resultsTableBody").empty();
  $("#updateResultsTableBody").empty();
  $("#resultsTable").hide();
  $("#searchUpdate").hide();
  $("#updateResults").hide();
  $("#processBlock").hide();
  $("#isUpdateRequired1").prop("checked", false);
  $("#isAvailabilityUpdateRequired1").prop("checked", false);;
  $("#isDataSourceKeyUpdateRequired1").prop("checked", false);
  

  var data = {
    "searchBy": document.getElementById("searchUserForm").searchBy.value, 
    "searchValue": document.getElementById("searchUserForm").searchValueUsrtoSearch.value
  }

  console.log("VALIDATE ENTERED USER IDENTIFIER:searchUserForm:\n" + JSON.stringify(data));

  $.ajax({
    //type: 'POST',
    url: '/ajax/validate_userIdentifier/',
    data: data, //$('#selectCourseForm').serialize(),
    dataType: 'json',
    success: function (data) {
      if (!data.is_found) {
        alert("A user with this identifier was not found.");
        document.getElementById("searchUserForm").searchValueUsrtoSearch.value="";
      }
      
    }
  }).done(function() {
    // console.log("OVERLAY TIME")
    $("#overlay").fadeOut(300);
  });
});

// usr searchBy change cleanup: 
// [DONE] clears forms when changing from externalId to userName
$("#searchBy").change(function () {
  // console.log("searchUserForm: searchBy changed");
  // manage divs - clear and hide because we have a new search
  $("#searchValueUsrtoSearch").val("")
  $("#resultsTableBody").empty();
  $("#updateResultsTableBody").empty();
  $("#resultsTable").hide();
  $("#searchUpdate").hide();
  $("#updateResults").hide();
  $("#processBlock").hide();
  // clear checkboxes
  $("#isUpdateRequired1").prop("checked", false);
  $("#isAvailabilityUpdateRequired1").prop("checked", false);;
  $("#isDataSourceKeyUpdateRequired1").prop("checked", false);
  
});

// [DONE] user search request
$('#searchUserForm').on('submit', function(e){
  console.log("searchUserForm called");
  // form id="searchUserForm"
  // submit id="submitSearchUserForm"
  // "selectBy": document.getElementById("searchUserForm").searchBy.value, 
  // "searchValue": document.getElementById("searchUserForm").searchValueUsrtoSearch.value
  e.preventDefault();
  $("#resultsTableBody").empty();
  $("#updateResultsTableBody").empty();
  $("#resultsTable").hide();
  $("#updateTable").hide();
  $("#isUpdateRequired1").prop("checked", false);
  $("#isAvailabilityUpdateRequired1").prop("checked", false);
  $("#isDataSourceKeyUpdateRequired1").checked=false;


  if (document.getElementById("searchUserForm").searchValueUsrtoSearch.value === "") {
    alert("You must provide a User identifier.");
    return;
  }

  var formData = {
    "searchBy": document.getElementById("searchUserForm").searchBy.value, 
    "searchValueUsr": document.getElementById("searchUserForm").searchValueUsrtoSearch.value,
  }

  console.log("FORMDATA: \n" + JSON.stringify(formData));

  $.ajax({
    type: 'GET',
    url: '/ajax/getUser/',
    data: formData, //$('#selectCourseForm').serialize(),
    //contentType: "application/x-www-form-urlencoded",
    dataType: 'json',
    success: function(responseData) {
      console.log("ajax/getUser success...");
      console.log("Full responseData: \n" + JSON.stringify(responseData));
            
      newResults = responseData["user_json"];
      // console.log("Results Length: " + newResults.length);
      console.log("PASSED RESULTS:\n" + JSON.stringify(newResults));

      // console.log("Processing results");

      let tableContents = "";
      tableContents = setUsrResultsTableBody(newResults);
      // console.log("TABLE CONTENTS\n" + tableContents);
      $("#resultsTableBody").append(tableContents);

      // <option>Choose a DSK or use field to right.</option> -->
      var dskOption = '';
      dskList = responseData["dsks_json"]
                
      if (typeof dskList == 'undefined') {
      } else {
        for ( dsk in dskList) {
          dskOption = '<option value ='+ dskList[dsk]['id'] + '>'+ dskList[dsk]['externalId'] + '</option>';
          $('#selectedDataSourceKey').append(dskOption);
        }
      }

      // $("#searchDetailsJSON").text(JSON.stringify(newResults));
      $("#processBlock").show();
      $("#resultsTable").show();
      $("#resultsTableHeader").show();
      $("#resultsTableBody").show();
      $("#searchUpdate").show();
    }
    }).done(function() {
			$("#overlay").fadeOut(300);
    });      
  });

// [DONE] user update request
$('#processUserForm').on('submit', function(e) {
  e.preventDefault();
  console.log("processUserForm");
  // console.log("FORM: \n" + $("#processUserForm").serialize());
  // console.log("SET results div display to visible");

  $("#updateResults").hide();
  $("#updateResultsTableBody").empty();

  selectionCount=$(this).find('input[name="pmcUserId[]"]:checked').length;

  // get form data based on active div
  let searchBy = document.getElementById("searchUserForm").searchBy.value;
  let searchValueUsr = document.getElementById("searchUserForm").searchValueUsrtoSearch.value;
  

  let pmcUserList = [];

  $('input[name="pmcUserId[]"]:checked').each(function() {
    pmcUserList.push($(this).val());
  });


  var updateData = {
      "isUpdateRequired1": document.getElementById("processUserForm").isUpdateRequired1.checked,
      "isAvailabilityUpdateRequired1": document.getElementById("processUserForm").isAvailabilityUpdateRequired1.checked,
      "selectedAvailability": document.getElementById("processUserForm").selectedAvailability.value,
      "isDataSourceKeyUpdateRequired1": document.getElementById("processUserForm").isDataSourceKeyUpdateRequired1.checked,
      "selectedDataSourceKey": document.getElementById("processUserForm").selectedDataSourceKey.value,
      "pmcUserId[]": pmcUserList,
      }
  
  console.log("SEARCHDATA:\n" + JSON.stringify(updateData));

  var ajxUrl = '/ajax/updateUser/';
  
  if (!selectionCount > 0 ) {
    alert("You must select at least one record.")
    return;
  }

  $.ajax({
    type: 'GET',
    url: ajxUrl,
    data: updateData,
    success: function (data) {
      if (!data.is_found) {
        alert("There was an error processing this request. Reload page and try again.");
      } else {
        // process selected records
        //console.log(newResults[row]);
        console.log("UPDATE RESULT DATA:\n" + JSON.stringify(data));
            
        let tableContents = "HELP!!!";
        newResults = data["result_json"];
        console.log("PROCESS USR: RESULTS_JSON: \n" + JSON.stringify(newResults));
        tableContents = setUpdateResultsTableBody(newResults);
        // console.log("PROCESS: BYUSR: tableContents: \n" + tableContents);

        
        // $("#updateDetailsJSON").text(JSON.stringify(newResults));
        $('#updateResultsTableBody').append(tableContents);
        $('#updateTableBody').show();
        $('#updateResults').show();
        $('#updateResultsTable').show();
        $('#update-table').show();
        $('#update-table-header').show();
      }
    }
  }).done(function() {
		$("#overlay").fadeOut(300);
  });      
});


// ajax support
function setUsrResultsTableBody(newResults) {
  console.log("setUsrResultsTableBody Called...");
  console.log("PASSED RESULTS: \n" + JSON.stringify(newResults));
  contents = "";
  let id = newResults["id"];
    // console.log("id: " + id);
    let available = newResults["availability"]["available"];
    // console.log("available: " + available);
    let courseRoleId = newResults["courseRoleId"];
    // console.log("courseRoleId: " + courseRoleId);
    let externalId = newResults["externalId"];
    // console.log("externalId: " + externalId);
    let userName = newResults["userName"];
    // console.log("userName: " + userName);
    let firstName = newResults["name"]["given"];
    // console.log("firstName: " + firstName);
    let middleName = newResults["name"]["middle"];
    if (typeof middleName == 'undefined') {
      middleName = "";
    }
    // console.log("middleName: " + middleName);
    let lastName = newResults["name"]["family"];
    // console.log("lastName: " + lastName);
    let email;
    let contact = newResults["contact"];
    if (typeof contact == 'undefined') {
      email = "N/A";
    } else {
      email = newResults["contact"]["email"];
    }
    // console.log("email: " + email);
    let dsk = newResults["dataSourceId"];
    // console.log("dsk: " + dsk);
    let modified = (newResults["modified"]).substring(0, 10);
    // console.log("modified: " + modified);
    let pmcId="pmc"+id;
    // console.log("pmcId: " + pmcId);

    let tableRow = '<div class="divTableRow">' +
          '<div class="divTableCell"><input type="checkbox" name="pmcUserId[]" class="pmcUserId" value="' + id + '"></div>' +
          '<div class="divTableCell">' + available + '</div>' +
          '<div class="divTableCell">' + externalId + '</div>'+ 
          '<div class="divTableCell">' + userName + '</div>'+
          '<div class="divTableCell">' + firstName + '</div>'+
          '<div class="divTableCell">' + middleName + '</div>'+
          '<div class="divTableCell">' + lastName + '</div>'+
          '<div class="divTableCell">' + email + '</div>'+
          '<div class="divTableCell">' + dsk + '</div>' +
          '<div class="divTableCell">' + modified + '</div>' +
          '</div>';
    
  return tableRow;
}

function setUpdateResultsTableBody(newResults) {
  console.log("setUsrResultsTableBody Called...");
  console.log("PASSED RESULTS: \n" + JSON.stringify(newResults));
  contents = "";
  let id = newResults["id"];
    // console.log("id: " + id);
  let available = newResults["availability"]["available"];
    // console.log("available: " + available);
  let courseRoleId = newResults["courseRoleId"];
    // console.log("courseRoleId: " + courseRoleId);
  let externalId = newResults["externalId"];
    // console.log("externalId: " + externalId);
  let userName = newResults["userName"];
    // console.log("userName: " + userName);
  let firstName = newResults["name"]["given"];
    // console.log("firstName: " + firstName);
  let middleName = newResults["name"]["middle"];
  if (typeof middleName == 'undefined') {
    middleName = "";
  }
    // console.log("middleName: " + middleName);
  let lastName = newResults["name"]["family"];
    // console.log("lastName: " + lastName);
  let email;
  let contact = newResults["contact"];
  if (typeof contact == 'undefined') {
    email = "N/A";
  } else {
    email = newResults["contact"]["email"];
  }
    // console.log("email: " + email);
  let dsk = newResults["dataSourceId"];
    // console.log("dsk: " + dsk);
  let modified = (newResults["modified"]).substring(0, 10);
    // console.log("modified: " + modified);
  let pmcId="pmc"+id;
    // console.log("pmcId: " + pmcId);

  let tableRow = '<div class="divTableRow">' +
          '<div class="divTableCell">' + available + '</div>' +
          '<div class="divTableCell">' + externalId + '</div>'+ 
          '<div class="divTableCell">' + userName + '</div>'+
          '<div class="divTableCell">' + firstName + '</div>'+
          '<div class="divTableCell">' + middleName + '</div>'+
          '<div class="divTableCell">' + lastName + '</div>'+
          '<div class="divTableCell">' + email + '</div>'+
          '<div class="divTableCell">' + dsk + '</div>' +
          '<div class="divTableCell">' + modified + '</div>' +
          '</div>';
    
  return tableRow;
}

</script>

{% endblock %}
{% endblock %}